{% block body %}
    <div class="list-pages">
        <ul>
            <li>
                <a href="">
                    <p class="page">Accueil</p>
                    <p class="etat ok">Validée</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="page">Livraison</p>
                    <p class="etat ok">Validée</p>
                </a>
            </li>
            <li class="active">
                <a href="">
                    <p class="page">Terrasse</p>
                    <p class="etat">En cours</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="page">Galerie</p>
                    <p class="etat empty">Vide</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="page">Contact</p>
                    <p class="etat empty">Vide</p>
                </a>
            </li>
        </ul>
    </div>
<div class="cards-infos">
    <div class="card brief">
        <div class="brief-title">
            <p class="title">Rappel du brief</p>
            <i class="material-icons">remove</i>
        </div>
        <div class="brief-content">
            <p>Page TERRASSE</p>
            <p>Prestations générales : livraison de béton, création de terrasse ou de dalle au sol (dalle coulée)</p>
            <p>Matériel : camion de livraison avec tuyaux et pompes</p>
            <p>Récupérer les infos sur son site : <a href="">une adresse url</a></p>
            <p>Template TM : <a href="">une autre adresse url</a></p>
        </div>
    </div>
</div>
{% endblock %}