.btn{
  border-radius: 3px;
  font-weight: 700;
  border: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor:pointer;
  }
  &.normal{
    padding:10px;
    font-weight: 400;
  }
  &.create{
    padding:25px 35px;
    font-weight: 700;
  }
  &.validate{
    padding:25px 35px;
    font-weight: 700;
  }
  &.blue {
    background-color: $color-bleu;
    color: $color-white;
    &:hover{
      background-color: darken($color-bleu, 1%);
    }
  }
  &.grey {
    background-color: $color-white;
    color: $color-text;
    border: 1px solid $color-divider;
    &:hover{
      background-color: darken($color-white, 1%);
    }
  }
}

.ripple{
  overflow:hidden;
  position: relative;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  user-select: none;
  pointer-events: none;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  transform: translate3d(-50%,-50%,0);
  &.bleu {
    background-color: $color-bleu;
  }
  &.card {
    background-color: $color-text;
  }
}

