$color-geolid1: #0066cc;
$color-geolid2: #ff9900;
$color-bleu: #2962ff;
$color-good: #00c853;
$color-warning: #ff8f00;
$color-bad: #f44336;
$color-text: #3d3d3d;
$color-textlight: #999999;
$color-background: #eeeeee;
$color-white: #ffffff;
$color-divider: #9a9a9a;
$color-dividerlight: #b2b2b2;
$color-hoverlight: #dddddd;
