body {
  margin:0;
  padding: 0;
}
.connect{
  background-color: $color-bleu;
  width:100%;
  min-height:100vh;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}

.connect .card{
  width: 470px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}

.connect .profil{
  border-radius: 50%;
  margin-bottom: 30px;
}
.connect form{
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  margin-bottom: 30px;
  min-width: 400px;

  [type="text"]{
    border: solid 1px $color-divider;
    padding:10px;
    min-width: 400px;
    margin-bottom: 20px;
  }

  [type="submit"]{
    padding:10px;
    width: 100%;
    border-radius: 3px;
    background-color: $color-bleu;
    color: $color-white;
    font-weight: 700;
    border: none;
  }
}

.connect .passforget{
  a{
    font-size: .9em;
  }
}

.connect .back{
  margin-top: 30px;
  a{
    font-size: .8em;
    color: $color-white;
    font-weight: 400;
  }
  &:hover{
    text-decoration: underline;
  }
}