.drop {
  position: relative;
  ul {
    position: absolute;
    right: 1em;
    top: 3em;
    padding: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 100% 0;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    transition-delay: .2s;
    width:350px;
    li {
      display: block;
      width: 100%;
      @include flexbox;
      @include flex-direction(row);
      &.profil{
        border-radius: 3px;
        margin:0;
        padding: 10px 0;
        @include align-items(space-between);
        img{
          width:80px;
          height: 80px;
          margin:10px;
        }
        .info{
          margin:10px;
          @include flexbox;
          @include flex-direction(column);
          .name{
            color: $color-text;
            font-size: $fontsize-normal;
            margin:0 0 5px 0;
          }
          .erp{
            font-size: .8em;
            color: $color-textlight;
            font-weight: 400;
            margin:0 0 10px 0;
          }
        }
      }
      &.disconnect {
        border-radius: 3px;
        background-color: $color-background;
        @include justify-content(flex-end);
        button{
          margin:7px 15px;
        }
      }
    }
  }
  &:hover {
    ul {
      transform: scale(1);

    }
  }
}