@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700');

a{
  font-family: 'Noto Sans', sans-serif;
  color: $color-bleu;
  font-weight: 700;
  text-decoration: none;
}
a:hover{
  color: darken($color-bleu, 20%);
}