.body .content{
  .group{
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    .field_label {
      display: block;
      position: absolute;
      top: -8px;
      left: 0px;
      font-size: 11px;
      font-family: $font;
      color: $color-textlight;
      visibility: hidden;
    }
    input:valid ~ .field_label, input:focus:invalid ~ .field_label {
      visibility: visible;
      transition-delay: .3s;
    }
    i{
      position: absolute;
      top: 15px;
      right: 0;
      color: $color-textlight;
      cursor: default;
      transition: all .2s ease-in;
      &:hover{
        color: $color-text;
      }
    }
    &.duo{
      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      .column{
        width: 48%;
        position: relative;
      }
    }
    .show-dropdown{
      background-color: transparent;
    }
    .dropdown-form{
      position: absolute;
      top: 0;
      right: 0;
      width: 350px;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: $color-white;
      li{
        padding: 5px;
        list-style: none;
      }
    }
  }
  input {
    padding: 40px 25px;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px $color-textlight;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: $color-text;
    font-size: $fontsize-title;
  }
  input:focus:required:invalid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: solid 1px $color-bad;
  }
  input:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: solid 1px $color-bleu;
  }
  input::-webkit-input-placeholder {
    font-family: 'roboto', sans-serif;
    font-size: $fontsize-normal;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input:focus::-webkit-input-placeholder{
    color: $color-textlight;
    font-size: 11px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
  input:valid::-webkit-input-placeholder {
    color: $color-bleu;
    font-size: 11px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
//RADIO
  $secondary-color: $color-bleu !default;
  $radio-fill-color: $secondary-color !default;
  $radio-empty-color: $color-textlight !default;
  $radio-border: 2px solid $radio-fill-color !default;
  $input-disabled-color: #D1D1D1 !default;
  $input-background: #FFF !default;
  $input-disabled-solid-color: $input-disabled-color !default;
  .cntr {
    position: relative;
  }

  .ig-control {
    margin: 10px 0 20px 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ig-control__radio:not(:checked),
  .ig-control__radio:checked {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
  }

  .ig-control__radio {
    ~ label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 20px;
      line-height: 20px;
      font-size: 1rem;
      color: $color-text;
      padding-left: 30px;
      font-family: $font;
    }
    ~ label:before,
    ~ label:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      left: 0;
      border: 2px solid transparent;
      border-radius: 50% 50%;
    }
    ~ label:before {
      backface-visibility: hidden;
      transform: translateZ(0);
      transition: all .2s ease-in;
    }
    &:not(:checked) ~ label:before {
      transform: scale(0);
    }
    &:not(:checked) ~ label:after {
      border: 2px solid $radio-empty-color;
    }
    &:checked ~ label:before {
      border: 2px solid $secondary-color;
      background-color: $secondary-color;
      transform: scale(.5);
    }
    &:checked ~ label:after {
      border: 2px solid $radio-fill-color;
    }
    &:disabled ~ label {
      pointer-events: none;
      color: $input-disabled-color;
    }
    &:disabled:not(:checked) ~ label:after {
      border: 2px solid $input-disabled-color;
    }
    &:disabled:checked ~ label:before {
      background-color: $input-disabled-color;
      border: 2px solid $input-disabled-color;
    }
    &:disabled:checked ~ label:after {
      border: 2px solid $input-disabled-color;
    }
  }
//CHECKBOX
  .checkbox{
    position: relative;
  }

  .checkbox p{
    position: absolute;
    left:35px;
    margin:2px;
  }

  .checkbox label {
    padding-left: 25px;
  }

  input[type="checkbox"] {
    margin: 4px 0 0;
    border:none;
  }

  .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    -webkit-appearance: none;
    margin-left: 0px;
  }

  .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    border-color: rgba(0, 0, 0, 0.54);
  }

  .checkbox input[type="checkbox"]:disabled:after, .checkbox-inline input[type="checkbox"]:disabled:after {
    border-color: rgba(0, 0, 0, 0.26);
  }

  .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
    outline: none;
  }

  .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    border: 2px solid;
    border-radius: 2px;
    content: '';
    display: block;
    height: 14px;
    transition: 240ms;
    width: 14px;
  }

  .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 15px;
    top: 24px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: '';
  }

  .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: $color-bleu;
    border-color: $color-bleu;
  }

  .checkbox input[type="checkbox"]:disabled:checked:after, .checkbox-inline input[type="checkbox"]:disabled:checked:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: transparent;
  }
}


.dropdown {
  position: relative;
  z-index: 200;
  width:100%;
  margin:0;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown dt{
  border-bottom: 1px solid $color-textlight;
  padding: 14px 0;
}

.dropdown dd {
  position: relative;
  background-color: $color-white;
}

.dropdown a,
.dropdown a:visited {
  text-decoration: none;
  outline: none;
  padding: 0!important;
}

.dropdown dt a {
  background-color: $color-white;
  display: block;
  padding: 10px;
  overflow: hidden;
  border: 0;
  width: 100%;
  .hida, .multiSel{
    font-family: $font;
    font-weight: 400;
  }
  .hida{
    font-size: $fontsize-normal;
    color: $color-textlight;
    display: block;
  }
  .multiSel{
    font-size: $fontsize-title;
    color: $color-text;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
  }
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
}
.dropdown dd ul {
  background-color: $color-white;
  z-index: 200;
  border: 0;
  display: none;
  right: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  width: 350px;
  list-style: none;
  height: 300px;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li{
  padding: 10px;
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
}

.dropdown dd ul li:hover {
  background-color: darken($color-white, 10%);
}




