header.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  background-color: $color-white;
  z-index: 100;
}
.brand, .hello{
  width: 300px;
}

.brand img{
  padding:16px 20px;
}

.nav{
  ul{
    @include flexbox;
    @include flex-direction(row);
    margin-top: 24px;
    margin-bottom:24px;
    padding: 0;
    li{
      list-style: none;
      &.active,&:hover{
        a{
          color: $color-bleu;
          border-bottom: 3px solid $color-bleu;
        }
      }
      a{
        color: $color-text;
        text-transform: uppercase;
        padding:16px 20px 18px 20px;
      }
    }
  }
}

.search{
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  position: relative;
  i{
    position: absolute;
    left:20px;
    padding: 6px;
  }
}

.search input{
  width:580px;
  margin: 7px;
  border-radius: 3px;
  background-color: $color-background;
  padding: 20px;
  padding-left: 60px;
  border: none;
  min-width: 80%;
  &:focus{
    outline: none;
    background-color: $color-white;
    padding: 9px;
    padding-left: 60px;
    font-size: $fontsize-title;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
}

.nosearch header .search {
  display: none;
}

.identity{
  float: right;
  .hello{
    @include flexbox;
    @include align-self(center);
    @include align-items(center);
    @include justify-content(flex-end);
    padding-top: 6px;
    padding-bottom: 6px;
    &:hover{
      cursor: default;
    }
  }
  p{
    font-size: $fontsize-normal;
    color: $color-text;
    margin-right: 20px;
    font-weight: 700;
  }
  img{
    width:32px;
    margin-right: 20px;
  }
}

.small{
  background-color: $color-white;
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  .ariane{
    display: none;
  }
}

.big{
  height: 128px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  .brand, .container, .identity{
    height: 64px;
  }
}

.ariane{
  margin:0 auto;
  z-index: 101;
  position: fixed;
  margin-top: 64px;
  width: 100%;
  border-top: 1px solid $color-dividerlight;
  &.none{
    display: none;
  }
  .container{
    margin:0 auto;
    width:1200px;
    padding: 18px 0;
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    a{
      &.disable{
        color: $color-textlight;
        cursor: default;
      }
      &.active{
        color: $color-bleu;
      }
      &.enable{
        color: $color-text;
        &:hover{
          color: $color-bleu;
        }
      }
    }
    i{
      cursor: default;
      margin:0 10px;
      &.disable{
        color: $color-textlight;
      }
      &.enable{
        color: $color-text;
      }
    }
  }
  .save{
    position: absolute;
    right: 0;
    top:0;
    padding:5px 20px;
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    p{
      margin-right: 20px;
      color: $color-textlight;
    }
    button{
      padding: 14px 25px;
    }
  }
}