header.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  background-color: $color-white;
  z-index: 9999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.brand, .hello{
  width: 300px;
}

.brand img{
  padding:16px 20px;
}

.nav{
  ul{
    @include flexbox;
    @include flex-direction(row);
    margin-top: 26px;
    margin-bottom:24px;
    padding: 0;
    li{
      list-style: none;
      &.active,&:hover{
        a{
          color: $color-bleu;
          border-bottom: 3px solid $color-bleu;
        }
      }
      a{
        color: $color-text;
        text-transform: uppercase;
        padding:15px 20px 21px 20px;
      }
    }
  }
}

.search{
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  position: relative;
  i{
    position: absolute;
    left:20px;
    padding: 6px;
  }
}

.search input{
  width:580px;
  margin: 7px;
  border-radius: 3px;
  background-color: $color-background;
  padding: 20px;
  padding-left: 60px;
  border: none;
  min-width: 80%;
  &:focus{
    outline: none;
    background-color: $color-white;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
}

.identity{
  float: right;
  .hello{
    @include flexbox;
    @include align-self(center);
    @include align-items(center);
    @include justify-content(flex-end);
    padding-top: 6px;
    padding-bottom: 6px;
    &:hover{
      cursor: default;
    }
  }
  p{
    font-size: $fontsize-normal;
    color: $color-text;
    margin-right: 20px;
    font-weight: 700;
  }
  img{
    width:32px;
    margin-right: 20px;
  }
}

.small{
  background-color: $color-white;
  height: 64px;
}

.big{
  background-color: $color-white;
  height: 128px;
}