.body{
  background-color: $color-background;
  .content{
    padding-bottom: 40px;
    &.marginsmall{
      padding-top: 64px;
      min-height:calc(100vh - 64px);
    }
    &.marginbig{
      padding-top: 128px;
      min-height:calc(100vh - 128px);
    }
  }
}

header .container{
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  width:1200px;
  margin: 0px auto;
}

.content .container{
  &.noflex{
    display: block;
    &.submit{
      text-align: right;
      position: relative;
      i{
        position: absolute;
        right: 0;
        padding-right: 30px;
        padding-top: 20px;
        color: $color-white;
      }
    }
  }
  @include flexbox;
  @include flex-direction(column);
  width:1200px;
  margin: 0px auto;
  margin-top: 40px;
  .title-card h2{
    color: $color-textlight;
    text-transform: uppercase;
    font-size: $fontsize-normal;
  }
  .card{
    padding:0px;
    .project{
      @include flexbox;
      @include flex-direction(row);
      @include align-items(center);
      @include justify-content(space-between);
      position: relative;
      border-bottom: 1px solid $color-dividerlight;
      .encours, .valide{
        @include flexbox;
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(space-between);

        padding: 10px 20px;
        width:85%;
        color: inherit;
        font-weight: 400;
        .left{
          @include flexbox;
          @include flex-direction(row);
          @include align-self(flex-start);
        }
        .right{
          @include flexbox;
          @include flex-direction(row);
          @include align-self(flex-end);
        }
      }
      .buttons{
        padding-right:20px;
        a.action{
          margin-left: 10px;
          color: $color-text;
          visibility: hidden;
          &.a1{
            right: 90px;
          }
          &.a2{
            right: 55px;
          }
          &.a3{
            right: 20px;
          }
        }
      }
      &:hover a.action{
        visibility: visible;
        transition: all 3s ease;
      }
      .name{
        font-weight: 700;
        margin-right: 20px;
      }
      .encours .etat{
        color: $color-warning;
      }
      .valide .etat{
        color: $color-good;
      }
      .etat{
        right:150px;
        bottom: 10px;
      }
      &:last-child{
        border: none;
      }
    }
  }
}

.brief{
  .card{
    padding:2em!important;
  }
}