body {
  margin: 20px;
}

i[data-tooltip] {
  position: relative;
}
i[data-tooltip]::before,
i[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 1;
}
i[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: $color-text;
  color: $color-white;
  font-size: $fontsize-mini;
  padding: 10px;
  border-radius: 5px;
  font-family: $font;

  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

i[data-tooltip]:hover::before,
i[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* left tooltip */
i[data-tooltip][data-placement="left"]::before {
  top: -25%;
  right: 100%;
  margin-right: 10px;
}
i[data-tooltip][data-placement="left"]::after {
  border-left-color: $color-text;
  border-right: none;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  margin-right: 4px;
}

/* right tooltip */
i[data-tooltip][data-placement="right"]::before {
  top: -25%;
  left: 100%;
  margin-left: 10px;
}
i[data-tooltip][data-placement="right"]::after {
  border-right-color: $color-text;
  border-left: none;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  margin-left: 4px;
}

/* top tooltip */
i[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
}
i[data-tooltip][data-placement="top"]::after {
  border-top-color: $color-text;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: 4px;
}

/* bottom tooltip */
i[data-tooltip][data-placement="bottom"]::before {
  top: 100%;
  transform: translateX(-40%);
  margin-top: 10px;
}
i[data-tooltip][data-placement="bottom"]::after {
  border-bottom-color: $color-text;
  border-top: none;
  top: 100%;
  left: 10px;
  margin-top: 4px;
}