{% extends "includes/base.html" %}
{% block title %}Geolid | GTA{% endblock %}
{% block description %}void{% endblock %}


{% block body %}
<div class="connect">

    {% include "includes/header.html" %}
    <div class="inverse">
        <img src="img/logo-geolid-white.png" alt="">
    </div>
    <div class="title">
        <h1>Que souhaitez vous faire ?</h1>
    </div>
    <div class="">
        <div class="cards flex">
            <a href="#" class="card create">
                <i class="material-icons .md-text">create</i>
                <p>Créer</p>
            </a>
            <a href="#" class="card contribuate">
                <i class="material-icons .md-text">call_merge</i>
                <p>Contribuer</p>
            </a>
            <a href="#" class="card analyse">
                <i class="material-icons .md-text">equalizer</i>
                <p>Analyser</p>
            </a>
        </div>
    </div>

</div>

{% endblock %}