{% extends "includes/base.html" %}
{% block title %}Geolid | GTA - Creation{% endblock %}
{% block description %}void{% endblock %}
{% set sectionHeader = {navCreate:'active', size:'big', Ariane1:'active', Chevron1:'disable', Ariane2:'disable', Chevron2:'disable', Ariane3:'disable', Chevron3:'disable', Ariane4:'disable', Chevron4:'disable', Ariane5:'disable'} %}


{% block body %}
<div class="body nosearch">
    {% include "includes/header.html" %}
    <div class="content marginbig">
        <form action="create-structures.html">
            <div class="container noflex">
                <div class="title-card">
                    <h2>Informations du client</h2>
                </div>
                <div class="card">
                    <div class="full">
                        <input type="text" required placeholder="Nom du projet *">
                        <i class="material-icons">info</i>
                    </div>
                    <div class="duo">
                        <div class="column">
                            <input type="text" required placeholder="Nom de l'établissement *">
                        </div>
                        <div class="column">
                            <input type="text" placeholder="Nombre de salarié">
                        </div>
                    </div>
                    <div class="duo">
                        <div class="column">
                            <input type="text" required placeholder="Sélection du métier">
                        </div>
                        <div class="column">
                            <input type="text" placeholder="Sélection de la cible clientèle">
                        </div>
                    </div>
                    <div class="duo">
                        <div class="column">
                            <div class="title">
                                <p>Choix du type d'établissement *</p>
                                <i class="material-icons">info</i>
                            </div>
                                <input type="radio" required name="etab" value="Se déplace chez le client">
                                <input type="radio" required name="etab" value="A un point de vente">
                                <input type="radio" required name="etab" value="Se déplace ET a un point de vente">

                        </div>
                        <div class="column">
                            <div class="title">
                                <p>Choix du type de prestations *</p>
                                <i class="material-icons">info</i>
                            </div>
                            <input type="radio" required name="presta" value="Srvices">
                            <input type="radio" required name="presta" value="Produits">
                            <input type="radio" required name="presta" value="Services et Produits">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container noflex">
                <div class="title-card">
                    <h2>Personnalisation des variables</h2>
                </div>
                <div class="card">2</div>
            </div>
            <div class="container noflex">
                    <div class="title-card">
                        <h2>Navigation et modèle de page</h2>
                    </div>
            <div class="card">3</div>
            </div>
            <div class="container noflex submit">
                <input type="submit" value="Confirmer le brief et les variables" class="btn blue validate ripple">
                <i class="material-icons">arrow_forward</i>
            </div>
        </form>
    </div>
</div>
{% endblock %}