{% extends "includes/base.html" %}
{% block title %}Geolid | GTA - Creation{% endblock %}
{% block description %}void{% endblock %}
{% set sectionHeader = {navCreate:'active', size:'small'} %}

{% block body %}
<div class="body">
    {% include "includes/header.html" %}
    <div class="content marginsmall">
        <div class="container noflex">
            <button onclick="window.location.href='create-brief.html'" class="btn blue create ripple">Créer un nouveau projet</button>
        </div>
        <div class="container">
            <div class="title-card">
                <h2>Continuer un projet</h2>
            </div>
            <div class="card">
                <div class="project">
                    <a href="" class="encours">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">Etape 3/5 - 5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="encours">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">Etape 3/5 - 5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="title-card">
                <h2>Modifier un projet</h2>
            </div>
            <div class="card">
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="project">
                    <a href="" class="valide">
                        <div class="left">
                            <p class="name">Nom du projet</p>
                            <p class="info">5 pages - dernier enregistrement le 12 décembre 2016</p>
                        </div>
                        <div class="right">
                            <p class="etat">En cours</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="" class="action a1"><i class="material-icons">create</i></a>
                        <a href="" class="action a2"><i class="material-icons">content_copy</i></a>
                        <a href="" class="action a3"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
